<h1>Welcome to Home Page</h1>




<form class="form-signin" method="post" action="/Management/Retailer/retailers">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add new retailer</button>
    <div class="form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</form>


<form class="form-signin" method="post" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">View Retailers</button>
</form>

<form class="form-signin" method="post" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">View Transactions</button>
</form>

<form class="form-signin" method="post" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">View daily Alerts</button>
</form>

<form class="form-signin" method="post" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>
<form class="form-signin" method="post" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">User Awareness Cataloge</button>
</form>